<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/Shared/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="collapse navbar-collapse">
                    <nav class="navbar navbar-default" role="navigation">
                        <ul id="menu" class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            @if (!@ViewBag.IsLoggedIn)
                            {
                                <li>@Html.ActionLink("Login", "Index", "User")</li>
                            }
                            @if (@ViewBag.IsLoggedIn)
                            {
                                <li>@Html.ActionLink("Logout", "Logout", "User")</li>
                                <li>@Html.ActionLink("History", "", "Status")</li>
                                <li>@Html.ActionLink("New Post", "New", "Status")</li>
                            }
                            <li>
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group">
                                        @Html.TextBox("Search", "", new { placeholder = "Search", Class = "form-control" })
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
